<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DotNet8BlazorWebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@RenderModeCurrent" />
</head>

<body>
    <div id="loadingInit" class="container-fluid"
         style="position:fixed;
             width: 100%;
             height: 100%;
             display: flex;
             align-items: center;
             justify-content: center;
             background-size: 400% 400%;
             background-image: linear-gradient(45deg, #24a3df 0%, #1430bd 25%, #8c2faf 50%, #e70c5c 100%);">
        <div class="row align-items-center" style="height:100%">
            <div class="col">
                <div>
                    <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Prepare service...
                    </button>
                </div>
            </div>
        </div>
    </div>
    <Routes @rendermode="@RenderModeCurrent" />
    <script src="_framework/blazor.web.js"></script>
    <script>
        function DeleteElementById(id) {
            var element = document.getElementById(id);
            element.parentNode.removeChild(element);
        };
    </script>
</body>

</html>
@code {
    InteractiveWebAssemblyRenderMode RenderModeCurrent => new InteractiveWebAssemblyRenderMode(false);
}